.container {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

.cabecalho {
	padding: 10px;
	background: #746F6F;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;

}

table {
	border-spacing: 1;
	border-collapse: collapse;
}

.table {
	border-collapse: collapse !important;
}
.form-grid {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #cccccc;
	margin-top: 8px;
}

.form-grid .label {
	font-weight: bold;
	text-align: right;
	padding: 0px 5px;
}

.form-grid .campo {
	padding-right: 5px;
}

ul.form-messages {
	padding-left: 20px;
}

.form-messages .error {
	color: #e81f1f;
}

.form-messages .info {
	color: #156b2a;
}

input[type="text"]:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}
input[type="checkbox"] { 
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type="checkbox"]:checked {
    background-color:#000;
    border-left-color:#06F;
    border-right-color:#06F00;
}

input[type="checkbox"]:hover {
}


input[type=radio] {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #333333;

    background-color:#D0D0D0;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=radio]:checked {
    background-color:#339966;
    border-left-color:#06F;
    border-right-color:#06F;
     border: double 2px #006600;
}

input[type=radio]:hover {
    box-shadow:0px 0px 10px #1300ff;
}